#input_text {
	width: 20vw;
	height: 20vh;
	resize: none;
}
.gall_button {
	width: 200px;
	height: 200px;
	fill: #000000;
	stroke: #000000;
	border-radius: 50%;
}
#download_link {
	display:block;
}
#svg_container{
	position: absolute;
	top: 0;
	right:0;

	height: 100vh;
	width: 85vw;

	display:flex;
	align-items:center;
	justify-content:center;
}
#svg_box {
	border: 5px dashed purple;
	border-radius:5vmin;
	height: 95vmin;
	width: 95vmin;

	display:flex;
	align-items:center;
	justify-content:center;	
}

#generated_svg {
	stroke: #000050;
	fill: #000050;
}
/*
.vowel {
	stroke: #500050;
	fill: #500050;
}
.plainword {
	stroke: #005000;
	fill: #005000;	
}
.number {
	stroke: #873E35;
	fill: #873E35;
}
*/
.anti_clockwise_number {
	animation: rotate 6s linear infinite;
	transform-origin: 50% 50%;
	transform-box: fill-box;
	animation-direction: reverse;
}
.clockwise_number {
	animation: rotate 6s linear infinite;
	transform-origin: 50% 50%;
	transform-box: fill-box;
}

@keyframes rotate{
    from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
    }
}

.pulsing {
	animation: pulse 1.5s linear infinite;
	transform-origin: center center;
	transform-box: fill-box;
	animation-direction: alternate;	
}

@keyframes pulse {
    from {
		transform: scale(0.95);
	}
	to {
		transform: scale(1.05);
    }
}
